@keyframes reveal-fallback
  to
    visibility: visible
    opacity: 1

.reveal
  visibility: hidden
  animation: reveal-fallback 0.1s 4s forwards

html.sr-loaded .reveal
  animation: none

html.sr-bypass .reveal
  visibility: visible !important
  opacity: 1 !important
  transform: none !important
  transition: none !important
  animation: none !important
